.header {
  width: 100%;
  height: 174px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 85px 80px 37px 80px; */
  width: 1280px;
  margin: auto;
}
.header img {
  width: 180px;
  height: 51px;
  cursor: pointer;
}
.nav-list {
  display: flex;
  column-gap: 46px;
  margin-left: 511px;
  cursor: pointer;
}
.nav-list li a {
  color: black;
  text-decoration: none;
}
.help-center-btn {
  width: 182px;
  height: 50px;
  padding: 12px 28px;
  background-color: #75bf7a;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
}
.download-app-section {
  background-color: #f7f1f1;
  width: 1280px;
  margin: auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.download-sec-left-side{
  width: 557px;  
}

.title {
  color: black;
  font-size: 60px;
  font-weight: 900;
  line-height: 65px;
 
}
.text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 25px;
}
.buttons {
  background-color: black;
  color: #fff;
  margin-top: 62px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  margin-top: 62px;
  padding: 13px 32px;
  display: inline-flex;
  align-items: center;
  

}

.download-sec-img {
  display: flex;
  margin: 54px 147px 85px 740px;
}
